<% @simulation.players.each do |player| %>
  <p>
    <strong>Player:</strong>
    <%= player.user_id %>
  </p>
  <strong>Role:</strong>
    <%= player.roletitle %>
  </p>

	<p>

	<%= link_to 'New Policy', new_policy_path( :current => player.user_id ) %>
  	<%= link_to 'Remove Player', [player.simulation, player],
               method: :delete,
               data: { confirm: 'Are you sure?' } %>
	</p>

 <% end %>