// Place all the styles related to the testing controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

html, body {

    height: 100%;
    padding: 0;
    margin: 0;
}

#content {
    
    background: red;
    width: 100%;
    height: 100%;
}

#mainspace {

    background: #aaddff;
    width: 80%;
    height: 100%;
    float: left;
}

#sidebar {

    background: #757575;
    width: 20%;
    height: 100%;
    float: right;
}

#nz_map {

    margin-left: 25%;
}