// Place all the styles related to the testing controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

html, body {
    height: 100%;
    padding: 0;
    margin: 0;
}

img {
    height: 99%;
    width: auto;
    padding: 0;
    margin: 0;
    user-select: none;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: -moz-none;
    -ms-user-select: none;
}

#content {
    background: red;
    width: 100%;
    height: 100%;
    padding: inherit;
    margin: inherit;
    position: absolute;
}

#mainspace {
    background: #aaddff;
    width: 80%;
    height: 100%;
    padding: inherit;
    margin: inherit;
    float: left;
    position: absolute;
}

#sidebar {
    background: #757575;
    width: 20%;
    height: 100%;
    margin-left: 80%;
    position: absolute;
}

#reaction_bar {
    background: #222222;
    width: 18%;
    height: 100%;
    margin-left: 82%;
    position: absolute;
}

#graph_panel {
    
    background: #222222;
    position: absolute;
    width: 25%;
    height: 100%
}

#demand_bar {
    
    background: red;
    margin-top: 10%;
    position: absolute;
    font-size: 300%;
    line-height: 100%;
    width: 25%;
    height: 3%
}

#supply_bar {
    
    background: #22ff22;
    margin-top: 10%;
    position: absolute;
    font-size: 300%;
    line-height: 100%;
    width: 25%;
    height: 3%
}

#nz_map {

    padding: inherit;
    margin: inherit;
    margin-left: 25%;
    position: absolute;
    user-select: none;
}

#clouds {

    opacity: 0;
    padding: inherit;
    margin: inherit;
    margin-left: 25%;
    position: absolute;
    user-select: none;
}

#carbon_emission {

    color: white;
    text-shadow:
        -1px -1px 0 #000,
        1px -1px 0 #000,
        -1px 1px 0 #000,
        1px 1px 0 #000;  
    margin-top: 5%;
    margin-left: 27%;
    position: absolute;
    font-size: 300%;
}

#reaction_title {
    
    margin-bottom: 10%;
    font-size: 400%;
    margin-top: 25%;
    margin-left: 5%;
    color: #cccccc;
}

#face {
    
    padding: inherit;
    margin: inherit;
    margin-left: 20%;
    margin-top: 20%;
    position: absolute;
    user-select: none;
    width: 60%;
    height: auto;
}

#comment_title {
    
    margin-bottom: 12%;
    font-size: 300%;
    margin-top: 150%;
    margin-left: 5%;
    color: #cccccc;
}

#comment_1 {
    
    margin-bottom: 12%;
    font-size: 200%;
    margin-left: 5%;
    color: #cccccc;
}

#comment_2 {
    
    margin-bottom: 10%;
    font-size: 200%;
    margin-left: 5%;
    color: #cccccc;
}

#comment_3 {
    
    margin-bottom: 10%;
    font-size: 200%;
    margin-left: 5%;
    color: #cccccc;
}

#coal_slider_title {
    
    margin-bottom: 2%;
    font-size: 200%;
    margin-top: 100%;
    margin-left: 15%;
}

#coal_slider {

    margin-left: 15%;
    background: #cccccc;
    width: 70%;
    height: 5px;
}

#wind_turbine_slider_title {
    
    margin-bottom: 2%;
    font-size: 200%;
    margin-top: 4%;
    margin-left: 15%;
}

#wind_turbine_slider {

    margin-left: 15%;
    background: #cccccc;
    width: 70%;
    height: 5px;
}

#nuclear_slider_title {
    
    margin-bottom: 2%;
    font-size: 200%;
    margin-top: 4%;
    margin-left: 15%;
}

#nuclear_slider {

    margin-left: 15%;
    background: #cccccc;
    width: 70%;
    height: 5px;
}

#insulation_slider_title {
    
    margin-bottom: 2%;
    font-size: 200%;
    margin-top: 4%;
    margin-left: 15%;
}

#insulation_slider {

    margin-left: 15%;
    background: #cccccc;
    width: 70%;
    height: 5px;
}

#vacuum_slider_title {
    
    margin-bottom: 2%;
    font-size: 200%;
    margin-top: 4%;
    margin-left: 15%;
}

#vacuum_slider {

    margin-left: 15%;
    background: #cccccc;
    width: 70%;
    height: 5px;
}